{
  "server": true,
  "client_addr": "{{ consul.global.client_addr }}",
  "bind_addr": "{{ hostvars[inventory_hostname]['ansible_all_ipv4_addresses'][0] }}",
  "datacenter": "{{ consul.global.datacenter }}",
  "data_dir": "{{ consul.global.data_dir }}",
  "bootstrap_expect": {{ consul.bootstrap.expect }},
  "log_level": "{{ consul.global.log_level }}",
  "encrypt": "{{ consul.global.encryption }}",
  "enable_syslog": true
}
