{
  "bootstrap": false,
  "server": true,
  "client_addr": "{{ consul.global.client_addr }}",
  "bind_addr": "{{ hostvars[inventory_hostname]['ansible_all_ipv4_addresses'][0] }}",
  "datacenter": "{{ consul.global.datacenter }}",
  "data_dir": "{{ consul.global.data_dir }}",
  "log_level": "{{ consul.global.log_level }}",
  "encrypt": "{{ consul.global.encryption }}",
  "enable_syslog": true,
  "start_join": [
    {% for host in groups['consul-server'] %}
    "{{ hostvars[host]['ansible_all_ipv4_addresses'][0] }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
